/* public/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.posts {
    margin-top: 20px;
}

.posts > div {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts h3 {
    color: #333;
}

.posts p {
    color: #555;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

a{
    width: 60px;
    height: 40px;
    background-color: #2980b9;
    color: #ffffff;
    padding: 1%;
    text-decoration-line: none;
}
a:hover{
    background-color: #3498db;
}